<h3>SOCKET CLIENTE</h3>
<form id="form">
    <label>Title:</label><input type="text" name="name" id="name">
    <label>Description:</label><input type="text" name="description" id="description">
    <label>Price:</label><input type="number" name="price" id="price">
    <label>"Cargar imagen":</label><input type="text" name="imagen" id="imagen">
    <label>Code:</label><input type="text" name="code" id="code">
    <label>Stock:</label><input type="text" name="stock" id="stock">
    <label>Category:</label><input type="text" name="category" id="category">

    <input type="submit" value="SEND">
</form>

<p id="products"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
